$clr-main:hsl(44, 100%, 75%);
$clr-second:hsl(27, 97%, 48%);
$space-h:0.5rem;
$space-1:1rem;
$space-2:2rem;
$space-3:3rem;
$space-4:4rem;
$font-xs:0.75rem;
$font-sm:1.25rem;
$font-md:1.5rem;
$font-lg:2rem;
$font-xl:2.5rem;

